* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0
}

body {
  max-width: 1440px;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  background-color: hsl(230, 100%, 99%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  text-align: center;
}

#topo {
  margin-top: 2rem;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  background-image: url('images/pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: center;

}

.grayishBlueText {
  color: hsl(225, 20%, 60%);
  font-weight: 600;
  font-size: 1rem;
}

span.grayishBlueText {
  display: inline;
  position: relative;
  top: -10px;
  transform: translateY(-50%);
}

.darkText {
  color: hsl(227, 35%, 25%);
  font-weight: 800;
  
}

#topo>h2 {
  font-size: 1rem;
  padding-top: 0.6rem;
}

.input {
  margin: .4rem;
  width: 95%;
  padding-bottom: 1.5rem;
}

#precoInput {
  background: linear-gradient(to right, hsl(174, 77%, 80%) 0%, hsl(174, 77%, 80%) 50%, hsl(224, 65%, 95%) 50%, hsl(224, 65%, 95%) 100%);
  border-radius: 8px;
  height: 7px;
  width: 95%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.precosVisualizacoes {
  width: 37%;
  margin: 3.5rem auto;
}

p.visualizacoes,
p.valorPorMes {
  display: inline;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

p.visualizacoes {
  float: left;
  letter-spacing: 2px;
  font-size: small;
  font-weight: 900;
}

p.valorPorMes {
  float: right;
  font-size: 3rem;
}

.precosVisualizacoesTexto {
  width: 100%;
  height: 4rem;
  margin-bottom: 2rem;
}

.discount {
  width: 100%;
  height: 20%;
  position: relative;
}

.discount>p {
  display: inline;
  position: relative;
  left: 40px;
  top: 5px;
  padding: 0 1rem;
  font-size: 0.9rem;
}

.discountText {
  color: hsl(15, 100%, 70%);
  font-weight: 800;
  font-size: 0.8rem;
  padding-left: 1rem;
}

.beneficios {
  width: 37%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

img.imgCheck {
  position: absolute;
  left: 0;
  height: 15px;
  transform: translateY(30%);
}

p.liText {
  display: flex;
}

.liItem {
  margin-bottom: 0.7rem;
}

.pList {
  padding-left: 2rem;
}

ul {
  position: relative;
}

.botao {
  background-color: #293356;
  -webkit-border-top-left-radius: 28px;
  -moz-border-radius-topleft: 28px;
  border-top-left-radius: 28px;
  -webkit-border-top-right-radius: 28px;
  -moz-border-radius-topright: 28px;
  border-top-right-radius: 28px;
  -webkit-border-bottom-right-radius: 28px;
  -moz-border-radius-bottomright: 28px;
  border-bottom-right-radius: 28px;
  -webkit-border-bottom-left-radius: 28px;
  -moz-border-radius-bottomleft: 28px;
  border-bottom-left-radius: 28px;
  text-indent: 0;
  border: 1px solid #ffffff;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 41px;
  line-height: 41px;
  width: 173px;
  text-decoration: none;
  text-align: center;
}

.botao:hover {
  background-color: #343e5c;
}

.botao:active {
  position: relative;
  top: 1px;
}

/****************Chrome thumb***************/

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 5px;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  background: hsl(174, 86%, 45%);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0px 10px 35px -2px hsl(174, 86%, 45%);
}

input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: 0px 10px 35px -2px hsl(174, 86%, 45%);
  background: #1fab9e;
  background-image: url("images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: grab;
}
/*************************************************/

/************************************************/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 35px;
  left: 2.5rem;
}

.slider:hover {
  background-color: hsl(174, 86%, 45%);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 5px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 30px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: hsl(174, 86%, 45%)
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*********************************/

