* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  /* box-sizing: border-box; */
}

body {
  max-width: 1440px;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  background-color: hsl(230, 100%, 99%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  grid-area: footer;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  text-align: center;
  display: grid;
  grid-template-rows: [row1-start] auto [row1-end row2-start] auto [row2-end row3-start] auto [row3-end];
  grid-template-columns: repeat(auto-fill, minmax(800px, auto));
  grid-template-areas: 
  "topo topo" 
  "main main"
  "beneficios beneficios"
  "footer footer";
  margin-bottom: 2rem;
  justify-content: center;
}

@media (max-width: 813px){
  .container {
  grid-template-columns:min-content;
  color: red;
  }

  #topo{
    padding: 0 !important;
  }

  .darkText{
    margin-top: 6rem;
    font-size: 1.4rem;
  }

  .precosVisualizacoes {
    flex-direction: column !important;
    margin-top : 6rem;
  }

  p.valorPorMes{
    order: 3;
    margin-top: -2rem;
    margin-bottom: 2rem;
    font-size: 2.3rem !important;
  }

  .input {
    margin: 2.4rem !important;
  }

  .discount>p.yearlyBilling {
    margin-right: 1rem;
  }

  .discount{
    order: 4;
  }

  span.discountText {
    padding-left: 0.5rem;
  
  }
  .discountText::before{
    content: "-";
  }
  .discountText::after{
    content: none !important;
  }

  .beneficios{
    margin-top: 5rem !important;
    flex-direction: column !important;
  }

  .liItem {
    align-self: auto !important;
  }

  img.imgCheck {
    padding-right: 0.5rem;
  }

  .btn {
    margin-top: 1.5rem;
  }
}


#topo {
  background-image: url('images/pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: center;
  grid-area: topo;
  padding: 5rem;
}

.grayishBlueText {
  color: hsl(225, 20%, 60%);
  font-weight: 600;
  font-size: 1rem;
}

.darkText {
  color: hsl(227, 35%, 25%);
  font-weight: 800;
  
}

#topo>h2 {
  font-size: 1rem;
  padding-top: 0.6rem;
}

.input {
  margin: 0.4rem;
  width: 73%;
  padding-bottom: 1.5rem;
}

#precoInput {
  background: linear-gradient(to right, hsl(174, 77%, 80%) 0%, hsl(174, 77%, 80%) 50%, hsl(224, 65%, 95%) 50%, hsl(224, 65%, 95%) 100%);
  border-radius: 8px;
  height: 7px;
  width: 95%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.precosVisualizacoes {
  grid-area: main;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  max-width: 800px;

}

p.visualizacoes {
  letter-spacing: 2px;
  font-size: small;
  font-weight: 900;
}

p.valorPorMes {
  font-size: 3rem;
}

.discount {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.discount>p.monthlyBilling {
  font-size: 0.9rem;
  order: 1;
}

.discount>p.yearlyBilling{
  order: 3;
  left: 1.5rem;
  position: relative;
}

.discountText {
  color: hsl(15, 100%, 70%);
  font-weight: 800;
  font-size: 0.8rem;
  order: 3;
}

.discountText::after {
  content: " discount";
}

.beneficios {
  grid-area: beneficios;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.liItem {
  margin-bottom: 0.7rem;
  align-self: start;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.botao {
  background-color: #293356;
  -webkit-border-top-left-radius: 28px;
  -moz-border-radius-topleft: 28px;
  border-top-left-radius: 28px;
  -webkit-border-top-right-radius: 28px;
  -moz-border-radius-topright: 28px;
  border-top-right-radius: 28px;
  -webkit-border-bottom-right-radius: 28px;
  -moz-border-radius-bottomright: 28px;
  border-bottom-right-radius: 28px;
  -webkit-border-bottom-left-radius: 28px;
  -moz-border-radius-bottomleft: 28px;
  border-bottom-left-radius: 28px;
  text-indent: 0;
  border: 1px solid #ffffff;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 51px;
  line-height: 49px;
  width: 214px;
  text-decoration: none;
  text-align: center;
}

.botao:hover {
  background-color: #343e5c;
}

.botao:active {
  position: relative;
  top: 1px;
}

/****************Chrome thumb***************/

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 5px;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  background: hsl(174, 86%, 45%);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0px 10px 35px -2px hsl(174, 86%, 45%);
}

input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: 0px 10px 35px -2px hsl(174, 86%, 45%);
  background: #1fab9e;
  background-image: url("images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: grab;
}
/*************************************************/

/************************************************/
/* The switch - the box around the slider */
.switch {
  position: relative;
  width: 70px;
  height: 35px;
  left: 0.5rem;
  order: 2;
}

.slider:hover {
  background-color: hsl(174, 86%, 45%);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 5px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 30px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: hsl(174, 86%, 45%)
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}